.App {
  max-width: 360px;
  /* color:#5a2be9; */
}

#root {
  display: flex;
  justify-content: center;
}

.stackedNavbar {
  width: 360px;
  height: 100%;
  border: 0px !important;
  position: absolute;
  transform: translate(-3000px, 0);
  transition: transform 0.3s ease;
  /* // backgroundColor: 'white; */
  z-index:10;
  display:flex;
  flex-direction:column;
}

@media screen and (min-width: 600px){
  /* Add the code for displaying the Menu item to the left of the app  */
  .stackedNavbar{
    transform: translate(-300px, 0);
  }
}
/* .eventContainer{
  display:inline-block !important;
  width: 300px;
} */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes flashGreen {
  0% {
    opacity: 1;
    color: green;
  }

  100% {
    opacity: 1;
    color: green;
  }
}

.flashGreen {
  animation-name: flashGreen;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

/* .blink {
  animation: blinker 0.75s linear infinite;
} */

.blink {
  background-color: green !important;
  /* animation: blink-animation 0.75s steps(5, start) infinite; */
  /* -webkit-animation: blink-animation 0.75s steps(5, start) infinite; */
}
@keyframes blink-animation {
  to {
    opacity: 50%;
    color: red !important;
    background-color: green !important;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity: 50%;
    color: red !important;
    background-color: green !important;
  }
}

img {
  max-width: 100%;
}
iframe {
  max-width: 100% !important;
}

.event {
  /* background-color:rgb(247, 246, 243) !important; */
  height: 300px !important;
  width:300px !important;
}

/* @-webkit-keyframes blinker {
  50% {
    opacity:50 !important;
    background-color: green !important;
    color: green !important;
  }
}

@keyframes blinker {
  50% {
    opacity:50 !important;
    background-color: green !important;
    color: green !important;
  }
  100% {
    color: pink !important;
  }
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
