.App {
  /* max-width: 360px; */
}

/* .eventContainer{
  display:inline-block !important;
  width: 300px;
} */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes flashGreen {
  0% {
    opacity: 1;
    color: green;
  }

  100% {
    opacity: 1;
    color: green;
  }
}

.flashGreen {
  animation-name: flashGreen;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

.blink {
  animation: blinker 0.75s linear infinite;
}

@keyframes blinker {
  50% {
    opacity:50;
    color: green !important;
  }
}


img {
  max-width: 100%;
}
iframe {
  max-width: 100% !important;
}

.event {
  background-color:rgb(247, 246, 243) !important;
  height: 300px !important;
  width:300px !important;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
